html, body{
    font-family: Arial, Helvetica, sans-serif;
   min-width: 100%;
   min-height: 100%;
    
}

/* Start Screen Styles */


#body-container{
    background-color: #F1F1F1;
    width: 30rem;
    height: 25rem;
    text-align: center;
    margin: auto;
    display: block;
    padding-top: 40px;
    border: 1px solid #4CAF4F;
    margin-top: 200px;
    border-radius: 25px;
    line-height: 4rem
}


 .startTitle{
     padding-bottom: -100px;
     
 }
 
 .startBtn{
     display: block;
    }

/* Main Quiz */

#quiz {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 482px;

}

.choice-container{
    background-color: #F1F1F1;
    margin-bottom: 1rem;
    width: 100%;
    height: 4rem;
    display: flex;  
    align-items: center; 
    
}

.choice-prefix {
    background-color: #4CAF4F;
    color: white;
    height: 100%;
    padding: 1.5rem, 2.5rem;
    width: 3.5rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;

}

.choice-text {
 padding: 1.5rem;
 font-size: 20px;
 width: 100%;

}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4 rem 1.4 rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
 
}

button{
    background-color: #4CAF4F;
    color: white;
    border: none;
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    margin: auto;
    border-radius: 8px;
}

button:hover,.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    cursor: pointer;
  }

  
/* HUD */

#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    
}


.hud-main-text {
    text-align: center;
    font-size: 40px;
    padding-top: -10px;
}
/* End Screen Styles */



#end-quiz-text{

    font-weight: normal;
}
#finalScore{
font-size: 3rem;
font-weight: bold;
padding-bottom: 1rem;
}

#username{
height: 2rem;
width: 15rem;
text-align: center;
font-size: 1rem;
border: 1px solid #4caf4f;
border-radius: 25px;

}

.endBtn{
    display: block;
    margin: -12.5px;
    
}

.endBtn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}